.navbar {
    background-color: #4df9da;
}
.navbar-brand {
    color: white;
    font-weight: bold;
}
.navbar-nav {
    margin-left: auto;
}
.navbar-nav .nav-link {
    color: white;
    margin: 0 15px;
}

body {
    background-color: #2c2c2c;
    color: white;
    margin: 0;
}

.chat-current {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.prompt-container {
    background-color: #4df9da;
    color: #000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 100%; /* Set width to 100% */
    box-sizing: border-box; /* Include padding and border in width */
}

.response-container {
    background-color: #626262;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 100%; /* Set width to 100% */
    box-sizing: border-box; /* Include padding and border in width */
}

/*.prompt-container,
.response-container {
    width: auto;
}*/

.prompt-container,
.response-container {
    margin: 0 auto;
}

.prompt-container,
.response-container {
    display: inline-block;
}

.prompt,
.response {
    margin: 0;
}

.form-control {
    width: 70%;
    margin-right: 10px;
    color: #000;
    border: 1px solid #000;
}

.btn-primary {
    background-color: #4df9da;
    color: #000;
    border: 1px solid #000;
}
<<<<<<< HEAD
=======
/* chat_styles.css */

/* Add @font-face declaration here */
@font-face {
    font-family: 'Jameel Noori Nastaleeq';
    src: url('../static/Jameel Noori Nastaleeq Kasheeda.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    /* Adjustments for better rendering */
    font-smooth: antialiased; /* Smooth edges */
    -webkit-font-smoothing: antialiased; /* Smooth edges on Chrome */
    -moz-osx-font-smoothing: grayscale; /* Smooth edges on macOS */
    text-rendering: optimizeLegibility; /* Improve legibility */
}

/* Add any additional styles specific to chat.html here */
.prompt-container, .response-container {
    animation: fadeInUp 0.5s ease forwards;
    opacity: 0;
    transform: translateY(20px);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Additional style for loading overlay */
#loadingOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loadingOverlay .spinner-border {
    color: #ffffff; /* White color for the spinner */
}

#loadingOverlay .loading-text {
    color: #ffffff; /* White color for the loading text */
    margin-top: 10px;
}
>>>>>>> d311b1f561402e89ee6ecf81dad37dd609d1ac1f

#loadingModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
