body {
    background-color: #626262;
    color: white;
}
.navbar {
    background-color: #4df9da;
}
.navbar-brand {
    color: white;
    font-weight: bold;
}
.navbar-nav {
    margin-left: auto;
}
.navbar-nav .nav-link {
    color: white;
    margin: 0 15px;
}
.content {
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.alert {
    background-color: #4df9da;
    color: #2c2c2c;
}
footer {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.chat-current {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }


  .prompt-container {
    background-color: #4df9da;
    color: #000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    align-self: flex-end;
  }
  
  .response-container {
    background-color: #2c2c2c;
    color: #000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    align-self: flex-start;
  }

  .prompt-container,
.response-container {
    width: auto;
}

.prompt-container,
.response-container {
    margin: 0 auto;
}

.prompt-container,
.response-container {
  display: inline-block;
}


  .prompt,
.response {
  margin: 0;
}

.card .card-img-top {
  max-height: 300px; /* Adjust the value as per your requirement */
  object-fit: cover;
}
/* Add @font-face declaration here */
@font-face {
  font-family: 'Jameel Noori Nastaleeq';
  src: url('../static/Jameel Noori Nastaleeq Kasheeda.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  /* Adjustments for better rendering */
  font-smooth: antialiased; /* Smooth edges */
  -webkit-font-smoothing: antialiased; /* Smooth edges on Chrome */
  -moz-osx-font-smoothing: grayscale; /* Smooth edges on macOS */
  text-rendering: optimizeLegibility; /* Improve legibility */
}
.urdu-font {
  font-family: 'Jameel Noori Nastaleeq', sans-serif;
  /* Add any additional styles specific to the Urdu font */
  /* font-size: 18px; Example: Increase font size */
}
.large-text {
  font-size: 20px; /* Adjust the font size as needed */
}
.very-large-text {
  font-size: 24px; /* Adjust the font size as needed */
}
