{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5 text-right urdu-font">
    <h1 class="mb-5 text-center">ہمارے بارے میں</h1>
     
    <div class="row justify-content-center mb-3">
        <div class="col-md-2">
            <img src="{{ url_for('static', filename='images/stethoscope.png') }}" class="img-fluid" alt="Icon 1">
        </div>
        <div class="col-md-2">
            <img src="{{ url_for('static', filename='images/robotics.png') }}" class="img-fluid" alt="Icon 2">
        </div>
        <div class="col-md-2">
            <img src="{{ url_for('static', filename='images/microphone.png') }}" class="img-fluid" alt="Icon 3">
        </div>
        <div class="col-md-2">
            <img src="{{ url_for('static', filename='images/drink.png') }}" class="img-fluid" alt="Icon 4">
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/aboutus.webp') }}" class="img-fluid" alt="Team Member 1">
        </div>
        <div class="col-md-6">
            <h2>ہماری ایپ کے بارے میں</h2>
            <p class="large-text">
                اردو بولنے والے لائیو سٹاک فارمرز کے لئے تیار کردہ ایک انقلابی آلہ دریافت کریں۔ ہماری ایپ جانوروں کی صحت سے لے کر کاروباری حکمت عملی تک ضروری بصیرت تک فوری رسائی فراہم کرتی ہے۔ آواز یا متن کے ذریعہ اردو میں بلا تعطل بات چیت کریں ، جس سے محدود تکنیکی علم رکھنے والوں کے لئے بھی موثر مواصلات ممکن ہو۔ کسانوں کو بااختیار بناتے ہوئے، ہماری ایپ لائیو سٹاک فارمنگ کے شعبے میں ترقی، پیداواری صلاحیت اور فلاح و بہبود کو فروغ دیتی ہے۔
            </p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6">
            <h2>ہمارا وژن</h2>
            <p class="large-text">
                ہمارے وژن کے مرکز میں خلا کو پر کرنے اور زندگیوں کو بہتر بنانے کا عزم ہے۔ ہم اردو بولنے والے کسانوں کے لئے زبان کی رکاوٹوں کو توڑتے ہوئے مویشیوں کی کھیتی کی بصیرت تک رسائی کے طریقے میں انقلاب لانا چاہتے ہیں۔ جدید ترین ٹکنالوجی اور صارف دوست انٹرفیس کے ذریعے، ہم کسانوں کو علم کے ساتھ بااختیار بناتے ہیں، پائیدار طریقوں اور معاشی ترقی کو فروغ دیتے ہیں. زراعت کے مستقبل کو تبدیل کرنے میں ہمارے ساتھ شامل ہوں، ایک وقت میں ایک بدیہی تعامل.
            </p>
        </div>
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/vision.webp') }}" class="img-fluid" alt="Team Member 2">
        </div>
    </div>
</div>
{% endblock %}
