{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5 urdu-font">
    <h1 class="text-center mb-5">ہم سے رابطہ کریں</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card text-center bg-light">
                <img src="{{ url_for('static', filename='images/ahmad.jpg') }}" class="card-img-top" alt="Team Member 1">
                <div class="card-body">
                    <h5 class="card-title text-dark">احمد منیر</h5>
                    <a href="https://www.linkedin.com/in/ahmad-munir-0a9b51230/" class="card-link"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/ahmad_munir_14/" class="card-link"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/Legend6523" class="card-link"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center bg-light">
                <img src="{{ url_for('static', filename='images/ahmed.jpg') }}" class="card-img-top" alt="Team Member 2">
                <div class="card-body">
                    <h5 class="card-title text-dark">احمد</h5>
                    <a href="https://www.linkedin.com/in/ahmed-warraich-15941b24a/" class="card-link"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/ahmednabeelwarraich/" class="card-link"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/Ahmed75849285" class="card-link"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center bg-light">
                <img src="{{ url_for('static', filename='images/usman.jpg') }}" class="card-img-top" alt="Team Member 3">
                <div class="card-body">
                    <h5 class="card-title text-dark">محمد عثمان</h5>
                    <a href="https://www.linkedin.com/in/muhammad-usman-903262211/" class="card-link"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/usman.saleem_/" class="card-link"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/UsmanSa35920571" class="card-link"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
