{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Contact Us</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Chatbot Support Email</h5>
                    <p class="card-text">support@example.com</p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">GitHub</h5>
                    <a href="https://github.com/yourusername" class="card-link">github.com/yourusername</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Instagram</h5>
                    <a href="https://www.instagram.com/yourusername" class="card-link">instagram.com/yourusername</a>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Facebook</h5>
                    <a href="https://www.facebook.com/yourusername" class="card-link">facebook.com/yourusername</a>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">LinkedIn</h5>
                    <a href="https://www.linkedin.com/in/yourusername" class="card-link">linkedin.com/in/yourusername</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
