{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5">ہم سے رابطہ کریں</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card text-center bg-light">
                <img src="{{ url_for('static', filename='images/vision.webp') }}" class="card-img-top" alt="Team Member 1">
                <div class="card-body">
                    <h5 class="card-title text-dark">عائشہ خان</h5>
                    <a href="https://www.linkedin.com/in/aishakhan" class="card-link"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/aishakhan" class="card-link"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/aishakhan" class="card-link"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center bg-light">
                <img src="{{ url_for('static', filename='images/vision.webp') }}" class="card-img-top" alt="Team Member 2">
                <div class="card-body">
                    <h5 class="card-title text-dark">محمد علی</h5>
                    <a href="https://www.linkedin.com/in/mohammadali" class="card-link"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/mohammadali" class="card-link"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/mohammadali" class="card-link"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center bg-light">
                <img src="{{ url_for('static', filename='images/vision.webp') }}" class="card-img-top" alt="Team Member 3">
                <div class="card-body">
                    <h5 class="card-title text-dark">عمر یوسف</h5>
                    <a href="https://www.linkedin.com/in/omaryousaf" class="card-link"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/omaryousaf" class="card-link"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/omaryousaf" class="card-link"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
