{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5 text-right urdu-font">
    <h1 class="text-center mb-4">سائن ان</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                <div class="form-group very-large-text">
                    <label for="username ">صارف کا نام</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group very-large-text">
                    <label for="password">پاس ورڈ</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block very-large-text">سائن ان</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
